    <div class="loader" ng-show="$ctrl.move"></div>
    <div id="overlay">
        <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a class="navBar" href="#!/Home">Home</a>
                <a class="navBar" href="#!/results">History</a>
                <a class="navBar" href="#!/yourList">My Podcasts</a>
              </div>
              
              <div id="main">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
              </div>
        
      <div class="links">
        <a class="navBar" href="#!/Home">Home</a>
        <a class="navBar" href="#!/results">History</a>
        <a class="navBar" href="#!/yourList">My Podcasts</a>
      </div>
      <div id="homeTitle">
      <div class="sift"><p><em>SIFT</em></p></div>
      <div class="tagline"><h6>A better way to search for your next podcast</h6></div>
      </div>
     

      <div id="homeContainer">
   
      <div id="home">
      <div class="timeTable"><p>Choose Your Search</p></div>

      <div id="searchKeyword">
      <div class="searchTitle">
        
        <div class="search"><input class="searchBar" type="text" ng-model="title" placeholder="Search Titles..." />
      
        <button class="goBtn" ng-click="$ctrl.searchBar(title)">GO</button></div>
        
      <div class="minuteBoxHolder" ng-show="time" >
            <span class="minuteBoxes"><input type="checkbox" ng-model="$ctrl.length" ng-true-value=[0,15]> <span>0-15 min</span></span>
            <span class="minuteBoxes"><input type="checkbox" ng-model="$ctrl.length" ng-true-value=[16,30]> <span>15-30 min</span></span>
            <span class="minuteBoxes"><input type="checkbox" ng-model="$ctrl.length" ng-true-value=[31,45]> <span>30-45 min</span></span>
            <span class="minuteBoxes"><input type="checkbox" ng-model="$ctrl.length" ng-true-value=[46,60]> <span>45-60 min</span></span>
            <span class="minuteBoxes"><input type="checkbox" ng-model="$ctrl.length" ng-true-value=[61,300]> <span>60+ min</span></span>
        </div>
      
        <button class="showTimeBtn" ng-click="time = true" ng-hide="time">Click for Time</button>
        <button class="hideTimeBtn" ng-click="time = false" ng-show="time">Hide Time</button>
        </div>
      </div>


        <div id="lowerButtons">
        <a href="#!/survey"><button class="surveyBtn">SURVEY</button></a>
        <a href=#!/categorySearch><button class="searchBtn">SEARCH CATEGORIES</button></a>
        </div>
        </div>
        </div>
      </div>   
      </div>