/*----------GLOBAL TAGS------------*/
.links {
    display: flex;
    justify-content: flex-end;
}
.navBar{
    text-decoration: none;
    padding: 15px;
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
}
.titleBars {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
.minuteBoxes {
    font-family: 'Varela Round', sans-serif;
    color: #d2232a;

}

body {
    background-color: 	 #f2f2f2;
}
/*----------home.js------------*/

.searchTitle {
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    font-family: 'Varela Round', sans-serif;
}
.searchBtns {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: #d2232a;
    color: white;
    font-size: 24px;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    border: none;
}
.searchBar {
    width: 85%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
}
.goBtn {
    background-color: #d2232a;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 10%;
    border-radius: 10px;
    color: white;
    border: none;
    font-family: 'Varela Round', sans-serif;
}
/*----------yourList.js------------*/
#removeBtn {
    margin-left: 10%;
    border-radius: 50%;
    border: none;
    background-color: #d2232a;
    color: white;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;   
}


/*----------survey.js------------*/
#survey {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    width: 50%;
    margin: auto;
    border: 2px solid #58595b;
    border-radius: 15px;
    padding: 20px;
}
.surveyBtn {
    background-color: #d2232a;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
}
/*----------categorySearch.js------------*/
/* .categoryBtns {
    border: none;
    background-color: #d2232a;
    color: white;
    width: 27%;
    margin-left: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 15px;
    font-size: 24px;
} */
.minuteBoxHolder {
    display: flex;
    justify-content: flex-start;
    margin-left: 15%;
    margin-bottom: 30px;
    color: #58595b;

}
.minuteBoxes {
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.categoryTitles {
    font-family: 'Varela Round', sans-serif;
    margin-left: 15%;
    color: #58595b;

}
#categories {
    padding: 50px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1250px;
    height: auto;
}

img {
    width: 80px;
    height: auto;
}
/*------ART & DESIGN BUTTON------*/

#art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.artBtn{
    margin-top: 10px;
    height: auto;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}
.artBtn:hover{
    color:#d2232a;
}
/*------BIZ BUTTON------*/

#biz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
   
}
.bizBtn{
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}

/*------CARS BUTTON------*/

#cars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
   
}
.carsBtn{
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}
/*------COMDEY BUTTON------*/

#comedy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.comedyBtn{
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}
/*------EDUCATION BUTTON------*/

#education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-left: 25px;
    padding: 10px;
}
.educationBtn{
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}

/*------FITNESS BUTTON------*/

#fitness {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-left: 60px;
    padding: 10px;
}
.fitnessBtn{
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}
/*------FOOD BUTTON------*/

#food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.foodBtn{
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}
/*------HISTORY BUTTON------*/

#history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.historyBtn{
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}
/*------HOBBIES BUTTON------*/

#hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.hobbiesBtn{
    display: flex;
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}
/*------MOVIES BUTTON------*/

#movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.movieBtn{
    display: flex;
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}
/*------MUSIC BUTTON------*/
#music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.musicBtn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}

/*------NEWS & POLITICS BUTTON------*/

#politics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-left: 20px;
    padding: 10px;

}
.politicsBtn{
    margin-top: 10px;

    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}
/*------PLACES & TRAVEL BUTTON------*/

#travel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-left: 30px;
    padding: 10px;
}
.travelBtn{
    display: flex;
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}
/*------RELIGION BUTTON------*/

#religion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.religionBtn{
    margin-top: 10px;

    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}
/*------SCIENCE BUTTON------*/

#science {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.scienceBtn{
    margin-top: 10px;

    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}
/*------SOCIETY & CULTURE BUTTON------*/

#society {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding-left: 30px;
    padding: 10px;

}
.societyBtn{
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}
/*------SPORTS BUTTON------*/

#sports {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding-left: 35px;
    padding: 10px;

}
.sportsBtn{
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}




/*------TECH BUTTON------*/

#tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.techBtn{
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border:none;
    outline:none;
    background-color: 	 #f2f2f2;
    color: #58595b;
}
/*----------results.js------------*/
.result {
    margin-top: 20px;
    border: 2px solid #58595b;
    border-radius: 15px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.leftHalf, .rightHalf {
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-family: 'Varela Round', sans-serif;
    color: #58595b;
}
.leftHalf {
    width: 35%;
}
.rightHalf {
    width: 55%;
}
#addBtn {
    margin-left: 10%;
    border-radius: 50%;
    border: none;
    background-color: #00aeef;
    color: white;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;   
}
#filter {
    margin-left: 5%;
    margin-top: 5%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 23%;
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
}
