<div id="blank">
    <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="navBar" href="#!/Home">Home</a>
            <a class="navBar" href="#!/Account">Account</a>
            <a class="navBar" href="#!/yourList">My Podcasts</a>
          </div>
          
          <div id="main">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
          </div>
    
  <div class="links">
    <a class="navBar" href="#!/Home">Home</a>
    <a class="navBar" href="#!/Account">Account</a>
    <a class="navBar" href="#!/yourList">My Podcasts</a>
  </div>
  <div class="loader" ng-show="$ctrl.move"></div>
<h1 class="titleBars" ng-hide="$ctrl.move">Let's choose you a podcast</h1>
<div id="survey" ng-hide="$ctrl.move">
  <div>
    <h3 class="question">I Would Use a Podcasts To..</h3>
    <div class="horizontal">
      <div class="qboxes">
        <input type="checkbox" ng-model="$ctrl.survey" ng-true-value="[67, 93, 94, 95, 147, 149, 187, 111, 127, 125, 107, 125, 163]"><span class="answer">Learn</span>
      </div>
      <div class="qboxes">
        <input type="checkbox" ng-model="$ctrl.survey" ng-true-value="[133, 68, 82, 138, 134, 167, 168, 84, 88]"><span class="answer">Be Entertained</span>
      </div>
    </div>
  </div>
  <div>
    <h3 class="question">Right Now, If I Could I Would..</h3>
    <div class="horizontal">
    <div class="qboxes">
      <input type="checkbox" ng-model="$ctrl.survey2" ng-true-value="[69, 99, 117, 122, 123]"><span class="answer">Take a Trip to Europe</span></div>
    <div class="qboxes">
      <input type="checkbox" ng-model="$ctrl.survey2" ng-true-value="[102, 122, 100, 101, 103, 104, 105, 140]"><span class="answer">Have a Fun Staycation</span>
    </div>
    </div>
  </div>
  <div>
    <h3 class="question">Do You Care More About...</h3>
    <div class="horizontal">
    <div class="qboxes">
    <input type="checkbox" ng-model="$ctrl.survey3" ng-true-value="[102, 88, 77, 87, 137, 141, 158]"><span class="answer">Health</span> 
    </div>
    <div class="qboxes">
    <input type="checkbox" ng-model="$ctrl.survey3" ng-true-value="[67, 93, 94, 95, 147, 149, 187, 127, 111]"><span class="answer">Money</span>
    </div>
    </div>
  </div>
  <input type="button" class="surveyBtn" ng-click="$ctrl.surveyAnswer($ctrl.survey, $ctrl.survey2, $ctrl.survey3)" value="SUBMIT YOUR ANSWERS">
</div>
</div>
</div>